.margin-left {
  margin-left: 1.5rem;
}

.margin-right {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.folder {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.1rem;
}

* {
  font-size: 20px;
}
